:root {
    --text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
    --card-background-color: #ffffff;
    --button-background-color: #f5f4fa;
}

body {
    background-color: #ffffff;
    color: #212121;
    font-family: "Roboto";
}

/* header */

.left_logo {
    color: #2196f3;
}

.right_logo {
    color: #000000;
}

.list {
    list-style: none;
}

/* site-nav */

.site-nav a {
    color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact-nav a {
    color: var(--text-color);
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
}

/* section buttons */

.section .button {
    background-color: var(--button-background-color);
    color: var(--title-text-color);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}

.section .button.current {
    background-color: var(--accent-color);
    color: #ffffff;
}

.section .button:hover,
.section .button:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

/* projects */
.title-projects {
    visibility: hidden;
}
.projects .card {
    background-color: var(--card-background-color);
}

.projects .card .title {
    color: var(--title-text-color);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.projects .card .text {
    color: var(--text-color);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

/* footer */
.footer {
    background-color: #2f303a;
}

.footer .right_logo {
    color: #ffffff;
}

.footer .address {
    color: #ffffff;
}

.footer .address:hover,
.footer .address:focus {
    color: var(--accent-color);
}

.footer .contact-nav {
    color: var(--footer-contacts-text-color);
}

.footer .contact-nav:hover,
.footer .contact-nav:focus {
    color: var(--accent-color);
}
